.bg-background{
  background-color: #001f5e;
}

.navbar-dark .navbar-brand {
  color: #fff;
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  padding: 1rem;
}

.navbar-dark .navbar-nav .nav-link:active, .navbar-dark .navbar-nav .nav-link:hover {
  color: #85c136;
  padding: 1rem;
}

#logo-navbar {
  height: 30px;
  margin-right: 0.5em;
  vertical-align: bottom;
}

.nav-item:last-child {
  padding-left: 1em;
}
