.bg-background{
  background-color: #F5A732;
}

.navbar-dark .navbar-brand {
  color: #001f5e;
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
  color: #001f5e;
  padding: 1rem;
}

.navbar-dark .navbar-nav .nav-link:active, .navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
  padding: 1rem;
}

#logo-navbar {
  height: 30px;
  margin-right: 0.5em;
  vertical-align: bottom;
}
