.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  margin: auto;
  background: transparent;
  padding: 65px 0 0 0;
  color: #001f5e;
  border: none;
}


.container input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 1em;
  outline: none;
  width: 100%;
  margin-bottom: 1.5em;
}

.container button {
  background: #1C3B58;
  color: #ffffff;
  border: 0px;
  border-radius: 5px;
  padding: 1em;
  display: block;
  width: 100%;
  max-width: 250px;
  margin: 0 auto 1.5em auto;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.container button:hover {
  background-color: #74A642;
}

.container button:disabled {
  background-color: #d3d3d3;
}

div .menu {
  display: flex;
  display: -webkit-flex; /* Safari */
  -webkit-flex-flow: row wrap; /* Safari 6.1+ */
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  height: 350px;
}

button.menu-buttons {
  display: inline-block;
  margin: 0 auto;
}

button.option-buttons {
  background:  #ffb542;
  margin-bottom: 15px;
  width: 130px;
  height: 130px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
  border-radius: 5px;
}
