.card {
  max-height: 530px;
}

.order {
  overflow-y: scroll;
  max-height: 450px;
}

.text-item {
  font-size: 0.9em;
}

.card-body .btn-danger:disabled:hover {
  background-color: #d3d3d3;
  color: #ffffff;
  border: 2px solid #d3d3d3;
}
